{
  "openapi": "3.0.1",
  "info": {
    "title": "Conquest Documentation",
    "description": "Conquest API Reference - Members",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.useconquest.com"
    }
  ],
  "paths": {
    "/v1/activities": {
      "get": {
        "description": "List all activities from your workspace",
        "security": [{ "bearerAuth": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl --request GET \\\n  --url 'https://api.useconquest.com/v1/activities?page=1&pageSize=10' \\\n  --header 'Authorization: Bearer <token>'"
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of activities per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activities"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an activity for a member",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["activityTypeKey", "memberId"],
                "properties": {
                  "activityTypeKey": {
                    "type": "string",
                    "description": "Key of the activity type",
                    "example": "discord:message"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the activity"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message of the activity"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the activity to reply to"
                  },
                  "reactTo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the activity to react to"
                  },
                  "inviteTo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the activity to invite to"
                  },
                  "channelId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the channel"
                  },
                  "eventId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the event"
                  },
                  "memberId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the member"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Activity type, member, channel, event or referenced activity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/activities/{activityId}": {
      "get": {
        "description": "Get an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update an activity in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalId": {
                    "type": "string",
                    "description": "External ID of the activity",
                    "example": "ext_123"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the activity"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message of the activity"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the activity to reply to"
                  },
                  "reactTo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the activity to react to"
                  },
                  "inviteTo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the activity to invite to"
                  },
                  "activityTypeKey": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Key of the activity type"
                  },
                  "channelId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the channel"
                  },
                  "eventId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the event"
                  },
                  "memberId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the member"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an activity from your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members": {
      "get": {
        "description": "List all members from your workspace",
        "security": [{ "bearerAuth": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl --request GET \\\n  --url 'https://api.useconquest.com/v1/members?page=1&pageSize=10' \\\n  --header 'Authorization: Bearer <token>'"
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of members per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a member in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members/{memberId}": {
      "get": {
        "description": "Get a member from your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a member in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "primaryEmail": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "+33612345678"
                    }
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "linkedinUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a member in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "description": "List all companies from your workspace",
        "security": [{ "bearerAuth": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl --request GET \\\n  --url 'https://api.useconquest.com/v1/companies?page=1&pageSize=10' \\\n  --header 'Authorization: Bearer <token>'"
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of activities per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a company in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{companyId}": {
      "get": {
        "description": "Get a company from your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a company in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a company in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Company deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channels": {
      "get": {
        "description": "List all channels from your workspace",
        "security": [{ "bearerAuth": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl --request GET \\\n  --url 'https://api.useconquest.com/v1/channels?page=1&pageSize=10' \\\n  --header 'Authorization: Bearer <token>'"
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of channels per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channels"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a channel in your workspace",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["activityTypeKey", "memberId"],
                "properties": {
                  "externalId": {
                    "type": "string",
                    "description": "External ID of the channel",
                    "example": "ext_123"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the channel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channels/{channelId}": {
      "get": {
        "description": "Get a channel from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "channelId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a channel in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "channelId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["activityTypeKey", "memberId"],
                "properties": {
                  "externalId": {
                    "type": "string",
                    "description": "External ID of the channel",
                    "example": "ext_123"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the channel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a channel in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Activities": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "example": 10
          },
          "totalActivities": {
            "type": "number",
            "example": 1235
          },
          "activities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "9e1c8bba-9121-479f-b510-1bf02d01a42b"
                },
                "externalId": {
                  "type": "string",
                  "example": "ext_123"
                },
                "title": {
                  "type": "string",
                  "example": "Activity Title"
                },
                "message": {
                  "type": "string",
                  "example": "This is an activity message"
                },
                "replyTo": {
                  "type": "string",
                  "example": "535e84c4-8d72-4b76-be79-8f21537e149e"
                },
                "reactTo": {
                  "type": "string",
                  "example": "f939094f-4e24-4c7c-aab8-65a62515bfe4"
                },
                "inviteTo": {
                  "type": "string",
                  "example": "950420e7-1092-4942-8edd-90c3143293d2"
                },
                "source": {
                  "type": "string",
                  "example": "Slack"
                },
                "activityTypeId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "d5b33178-6222-4e2d-a1e9-72828cffca9a"
                },
                "channelId": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true,
                  "example": "350a95cd-c654-4238-9692-49d520420833"
                },
                "eventId": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true,
                  "example": "39813609-1062-4fd7-b488-533244b99f7d"
                },
                "memberId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "1dc2a014-13c9-41cd-87b5-4288df35b59a"
                },
                "workspaceId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "activity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "9e1c8bba-9121-479f-b510-1bf02d01a42b"
              },
              "externalId": {
                "type": "string",
                "example": "ext_123"
              },
              "title": {
                "type": "string",
                "example": "Activity Title"
              },
              "message": {
                "type": "string",
                "example": "This is an activity message"
              },
              "replyTo": {
                "type": "string",
                "example": "535e84c4-8d72-4b76-be79-8f21537e149e"
              },
              "reactTo": {
                "type": "string",
                "example": "f939094f-4e24-4c7c-aab8-65a62515bfe4"
              },
              "inviteTo": {
                "type": "string",
                "example": "950420e7-1092-4942-8edd-90c3143293d2"
              },
              "source": {
                "type": "string",
                "example": "Slack"
              },
              "activityTypeId": {
                "type": "string",
                "format": "uuid",
                "example": "d5b33178-6222-4e2d-a1e9-72828cffca9a"
              },
              "channelId": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "example": "350a95cd-c654-4238-9692-49d520420833"
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "example": "39813609-1062-4fd7-b488-533244b99f7d"
              },
              "memberId": {
                "type": "string",
                "format": "uuid",
                "example": "1dc2a014-13c9-41cd-87b5-4288df35b59a"
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid",
                "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "Members": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "example": 10
          },
          "totalMembers": {
            "type": "number",
            "example": 1235
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "d5b33178-6222-4e2d-a1e9-72828cffca9a"
                },
                "firstName": {
                  "type": "string",
                  "nullable": true,
                  "example": "Thomas"
                },
                "lastName": {
                  "type": "string",
                  "nullable": true,
                  "example": "Bonfils"
                },
                "primaryEmail": {
                  "type": "string",
                  "nullable": true,
                  "example": "thomas@useconquest.com"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "support@useconquest.com"
                  }
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "+33 6 12 34 56 78"
                  }
                },
                "jobTitle": {
                  "type": "string",
                  "nullable": true,
                  "example": "Software Engineer"
                },
                "avatarUrl": {
                  "type": "string",
                  "nullable": true,
                  "example": "https://example.com/avatar.jpg"
                },
                "language": {
                  "type": "string",
                  "nullable": true,
                  "example": "French"
                },
                "country": {
                  "type": "string",
                  "nullable": true,
                  "example": "France"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "e80f0f3c-f2df-4d37-a40a-fea15aa8c65c"
                  }
                },
                "level": {
                  "type": "number",
                  "example": 6
                },
                "pulse": {
                  "type": "number",
                  "example": 203
                },
                "source": {
                  "type": "string",
                  "example": "Slack"
                },
                "companyId": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true,
                  "example": "031af83a-885a-4a20-91ef-9cbba8bd859d"
                },
                "workspaceId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
                },
                "firstActivity": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2025-01-01T00:00:00Z"
                },
                "lastActivity": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2025-01-01T00:00:00Z"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "member": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "d5b33178-6222-4e2d-a1e9-72828cffca9a"
              },
              "firstName": {
                "type": "string",
                "nullable": true,
                "example": "Thomas"
              },
              "lastName": {
                "type": "string",
                "nullable": true,
                "example": "Bonfils"
              },
              "primaryEmail": {
                "type": "string",
                "nullable": true,
                "example": "thomas@useconquest.com"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "support@useconquest.com"
                }
              },
              "phones": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "+33 6 12 34 56 78"
                }
              },
              "jobTitle": {
                "type": "string",
                "nullable": true,
                "example": "Software Engineer"
              },
              "avatarUrl": {
                "type": "string",
                "nullable": true,
                "example": "https://example.com/avatar.jpg"
              },
              "language": {
                "type": "string",
                "nullable": true,
                "example": "French"
              },
              "country": {
                "type": "string",
                "nullable": true,
                "example": "France"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "e80f0f3c-f2df-4d37-a40a-fea15aa8c65c"
                }
              },
              "level": {
                "type": "number",
                "example": 6
              },
              "pulse": {
                "type": "number",
                "example": 203
              },
              "source": {
                "type": "string",
                "example": "Slack"
              },
              "companyId": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "example": "031af83a-885a-4a20-91ef-9cbba8bd859d"
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid",
                "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
              },
              "firstActivity": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "lastActivity": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "Channels": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "example": 10
          },
          "totalChannels": {
            "type": "number",
            "example": 35
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "e80f0f3c-f2df-4d37-a40a-fea15aa8c65c"
                },
                "externalId": {
                  "type": "string",
                  "nullable": true,
                  "example": "C07QZEDCW7P"
                },
                "name": {
                  "type": "string",
                  "example": "General Chat"
                },
                "source": {
                  "type": "string",
                  "example": "Api"
                },
                "workspaceId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "e80f0f3c-f2df-4d37-a40a-fea15aa8c65c"
                },
                "externalId": {
                  "type": "string",
                  "nullable": true,
                  "example": "C07QZEDCW7P"
                },
                "name": {
                  "type": "string",
                  "example": "General Chat"
                },
                "source": {
                  "type": "string",
                  "example": "Api"
                },
                "workspaceId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Companies": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "example": 10
          },
          "totalCompanies": {
            "type": "number",
            "example": 1235
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "name": {
                  "type": "string",
                  "example": "Conquest"
                },
                "industry": {
                  "type": "string",
                  "nullable": true,
                  "example": "Software"
                },
                "address": {
                  "type": "string",
                  "nullable": true,
                  "example": "123 Tech Street"
                },
                "domain": {
                  "type": "string",
                  "nullable": true,
                  "example": "useconquest.com"
                },
                "employees": {
                  "type": "number",
                  "nullable": true,
                  "example": 50
                },
                "foundedAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2023-01-01T00:00:00Z"
                },
                "logoUrl": {
                  "type": "string",
                  "nullable": true,
                  "example": "https://example.com/logo.png"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "cm5fkwwup0006dntb34yzw7dd"
                  }
                },
                "source": {
                  "type": "string",
                  "example": "MANUAL"
                },
                "workspaceId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "name": {
                "type": "string",
                "example": "Conquest"
              },
              "industry": {
                "type": "string",
                "nullable": true,
                "example": "Software"
              },
              "address": {
                "type": "string",
                "nullable": true,
                "example": "123 Tech Street"
              },
              "domain": {
                "type": "string",
                "nullable": true,
                "example": "useconquest.com"
              },
              "employees": {
                "type": "number",
                "nullable": true,
                "example": 50
              },
              "foundedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2023-01-01T00:00:00Z"
              },
              "logoUrl": {
                "type": "string",
                "nullable": true,
                "example": "https://example.com/logo.png"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                }
              },
              "source": {
                "type": "string",
                "example": "MANUAL"
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid",
                "example": "5901abdb-32b7-4e56-8766-d8b6ac906376"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "error.BAD_REQUEST": {
        "type": "object",
        "example": {
          "code": "BAD_REQUEST",
          "error": "Invalid request"
        }
      },
      "error.UNAUTHORIZED": {
        "type": "object",
        "example": {
          "code": "UNAUTHORIZED",
          "error": "Authentication failed"
        }
      },
      "error.NOT_FOUND": {
        "type": "object",
        "example": {
          "code": "NOT_FOUND",
          "error": "Resource not found"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
