{
  "openapi": "3.0.1",
  "info": {
    "title": "Conquest Documentation",
    "description": "Conquest API Reference - Members",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.useconquest.com"
    }
  ],
  "paths": {
    "/v1/members": {
      "get": {
        "description": "List all members from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results to return per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new member in your workspace",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/members/{id}": {
      "get": {
        "description": "Get a member from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Member" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a member in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a member in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/activities": {
      "get": {
        "description": "List all activities from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results to return per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activities" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/activities/{memberId}": {
      "post": {
        "description": "Create a new activity attached to a member",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/activities/{id}": {
      "get": {
        "description": "Get an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Activities": {
        "type": "object",
        "properties": {
          "page": { "type": "number", "example": 1 },
          "page_size": { "type": "number", "example": 10 },
          "total_activities": { "type": "number", "example": 1235 },
          "activities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "cuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "external_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "ext_123"
                },
                "title": {
                  "type": "string",
                  "nullable": true,
                  "example": "Activity Title"
                },
                "message": {
                  "type": "string",
                  "example": "This is an activity message"
                },
                "thread_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "thread_123"
                },
                "reply_to": {
                  "type": "string",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "react_to": {
                  "type": "string",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "invite_to": {
                  "type": "string",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "activity_type_id": {
                  "type": "string",
                  "format": "cuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "channel_id": {
                  "type": "string",
                  "format": "cuid",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "event_id": {
                  "type": "string",
                  "format": "cuid",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "member_id": {
                  "type": "string",
                  "format": "cuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "workspace_id": {
                  "type": "string",
                  "format": "cuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "activity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "cuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "external_id": {
                "type": "string",
                "nullable": true,
                "example": "ext_123"
              },
              "title": {
                "type": "string",
                "nullable": true,
                "example": "Activity Title"
              },
              "message": {
                "type": "string",
                "example": "This is an activity message"
              },
              "thread_id": {
                "type": "string",
                "nullable": true,
                "example": "thread_123"
              },
              "reply_to": {
                "type": "string",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "react_to": {
                "type": "string",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "invite_to": {
                "type": "string",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "activity_type_id": {
                "type": "string",
                "format": "cuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "channel_id": {
                "type": "string",
                "format": "cuid",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "event_id": {
                "type": "string",
                "format": "cuid",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "member_id": {
                "type": "string",
                "format": "cuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "workspace_id": {
                "type": "string",
                "format": "cuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "Members": {
        "type": "object",
        "properties": {
          "page": { "type": "number", "example": 1 },
          "page_size": { "type": "number", "example": 10 },
          "total_members": { "type": "number", "example": 1235 },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "cuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "discourse_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "23"
                },
                "livestorm_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "02a51b3b-3d6b-448c-91bb-48f0d12702c1"
                },
                "linkedin_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "iuHQSczlaT"
                },
                "slack_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "U0512345678"
                },
                "first_name": {
                  "type": "string",
                  "nullable": true,
                  "example": "Thomas"
                },
                "last_name": {
                  "type": "string",
                  "nullable": true,
                  "example": "Bonfils"
                },
                "username": {
                  "type": "string",
                  "nullable": true,
                  "example": "thomasbonfils"
                },
                "location": {
                  "type": "string",
                  "nullable": true,
                  "example": "FR"
                },
                "avatar_url": {
                  "type": "string",
                  "nullable": true,
                  "example": "https://example.com/avatar.jpg"
                },
                "job_title": {
                  "type": "string",
                  "nullable": true,
                  "example": "Software Engineer"
                },
                "primary_email": {
                  "type": "string",
                  "nullable": true,
                  "example": "thomas@useconquest.com"
                },
                "secondary_emails": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "support@useconquest.com"
                  }
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "+33 6 12 34 56 78"
                  }
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "cm5fkwwup0006dntb34yzw7dd"
                  }
                },
                "level": { "type": "number", "example": 6 },
                "pulse": { "type": "number", "example": 203 },
                "presence": { "type": "number", "example": 6 },
                "gender": {
                  "type": "string",
                  "nullable": true,
                  "example": "MALE"
                },
                "source": { "type": "string", "example": "SLACK" },
                "logs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "2025-01-01T00:00:00Z"
                      },
                      "pulse": { "type": "number", "example": 203 },
                      "presence": { "type": "number", "example": 6 },
                      "level": { "type": "number", "example": 6 },
                      "max_weight": { "type": "number", "example": 4 },
                      "max_weight_activity": {
                        "type": "string",
                        "example": "Slack - Write a post"
                      }
                    }
                  }
                },
                "company_id": {
                  "type": "string",
                  "format": "cuid",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "workspace_id": {
                  "type": "string",
                  "format": "cuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "first_activity": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2025-01-01T00:00:00Z"
                },
                "last_activity": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2025-01-01T00:00:00Z"
                },
                "joined_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2025-01-01T00:00:00Z"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2025-01-01T00:00:00Z"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "member": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "cuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "discourse_id": {
                "type": "string",
                "nullable": true,
                "example": "23"
              },
              "livestorm_id": {
                "type": "string",
                "nullable": true,
                "example": "02a51b3b-3d6b-448c-91bb-48f0d12702c1"
              },
              "linkedin_id": {
                "type": "string",
                "nullable": true,
                "example": "iuHQSczlaT"
              },
              "slack_id": {
                "type": "string",
                "nullable": true,
                "example": "U0512345678"
              },
              "first_name": {
                "type": "string",
                "nullable": true,
                "example": "Thomas"
              },
              "last_name": {
                "type": "string",
                "nullable": true,
                "example": "Bonfils"
              },
              "username": {
                "type": "string",
                "nullable": true,
                "example": "thomasbonfils"
              },
              "location": {
                "type": "string",
                "nullable": true,
                "example": "FR"
              },
              "avatar_url": {
                "type": "string",
                "nullable": true,
                "example": "https://example.com/avatar.jpg"
              },
              "job_title": {
                "type": "string",
                "nullable": true,
                "example": "Software Engineer"
              },
              "primary_email": {
                "type": "string",
                "nullable": true,
                "example": "thomas@useconquest.com"
              },
              "secondary_emails": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "support@useconquest.com"
                }
              },
              "phones": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "+33 6 12 34 56 78"
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                }
              },
              "level": { "type": "number", "example": 6 },
              "pulse": { "type": "number", "example": 203 },
              "presence": { "type": "number", "example": 6 },
              "gender": {
                "type": "string",
                "nullable": true,
                "example": "MALE"
              },
              "source": { "type": "string", "example": "SLACK" },
              "logs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "example": "2025-01-01T00:00:00Z"
                    },
                    "pulse": { "type": "number", "example": 203 },
                    "presence": { "type": "number", "example": 6 },
                    "level": { "type": "number", "example": 6 },
                    "max_weight": { "type": "number", "example": 4 },
                    "max_weight_activity": {
                      "type": "string",
                      "example": "Slack - Write a post"
                    }
                  }
                }
              },
              "company_id": {
                "type": "string",
                "format": "cuid",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "workspace_id": {
                "type": "string",
                "format": "cuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "first_activity": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "last_activity": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "joined_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "deleted_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "error.BAD_REQUEST": {
        "type": "object",
        "example": {
          "code": "BAD_REQUEST",
          "error": "Invalid request"
        }
      },
      "error.UNAUTHORIZED": {
        "type": "object",
        "example": {
          "code": "UNAUTHORIZED",
          "error": "Authentication failed"
        }
      },
      "error.NOT_FOUND": {
        "type": "object",
        "example": {
          "code": "NOT_FOUND",
          "error": "Resource not found"
        }
      }
    }
  }
}
