{
  "openapi": "3.0.1",
  "info": {
    "title": "Conquest Documentation",
    "description": "Conquest API Reference - Members",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.useconquest.com"
    }
  ],
  "paths": {
    "/v1/activities": {
      "get": {
        "description": "List all activities from your workspace",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results to return per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activities" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/activities/{activity_id}": {
      "get": {
        "description": "Get an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "activity_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "activity_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an activity from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "activity_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Activity" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.BAD_REQUEST" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/members": {
      "get": {
        "description": "List all members from your workspace",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a member in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/members/{member_id}": {
      "get": {
        "description": "Get a member from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "member_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Member" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a member in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "member_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a member in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "member_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "description": "List all companies from your workspace",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a company in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{company_id}": {
      "get": {
        "description": "Get a company from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Company" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a company in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a company in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Company deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/channels": {
      "get": {
        "description": "List all channels from your workspace",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channels"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a channel in your workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    },
    "/v1/channels/{channel_id}": {
      "get": {
        "description": "Get a channel from your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Channel" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update a channel in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a channel in your workspace",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Channel deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.UNAUTHORIZED" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/error.NOT_FOUND" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Activities": {
        "type": "object",
        "properties": {
          "page": { "type": "number", "example": 1 },
          "page_size": { "type": "number", "example": 10 },
          "total_activities": { "type": "number", "example": 1235 },
          "activities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "external_id": {
                  "type": "string",
                  "example": "ext_123"
                },
                "title": {
                  "type": "string",
                  "example": "Activity Title"
                },
                "message": {
                  "type": "string",
                  "example": "This is an activity message"
                },
                "reply_to": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "react_to": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "invite_to": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "source": {
                  "type": "string",
                  "example": "Slack"
                },
                "activity_type_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "channel_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "event_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true,
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "member_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "workspace_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "activity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "external_id": {
                "type": "string",
                "example": "ext_123"
              },
              "title": {
                "type": "string",
                "example": "Activity Title"
              },
              "message": {
                "type": "string",
                "example": "This is an activity message"
              },
              "reply_to": {
                "type": "string",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "react_to": {
                "type": "string",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "invite_to": {
                "type": "string",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "source": {
                "type": "string",
                "example": "Slack"
              },
              "activity_type_id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "channel_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "event_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "member_id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "workspace_id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "Members": {
        "type": "object",
        "properties": {
          "page": { "type": "number", "example": 1 },
          "page_size": { "type": "number", "example": 10 },
          "total_members": { "type": "number", "example": 1235 },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "cm5fkwwup0006dntb34yzw7dd"
                  },
                  "discord_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "123456789"
                  },
                  "discord_username": {
                    "type": "string",
                    "nullable": true,
                    "example": "user#1234"
                  },
                  "discourse_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "123"
                  },
                  "discourse_username": {
                    "type": "string",
                    "nullable": true,
                    "example": "thomas-bonfils"
                  },
                  "linkedin_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "iuHQSczlaW"
                  },
                  "linkedin_url": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://linkedin.com/in/username"
                  },
                  "livestorm_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "02a51b3b-3d6b-448c-91bb-48f0d12702c1"
                  },
                  "slack_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "U0512345678"
                  },
                  "first_name": {
                    "type": "string",
                    "nullable": true,
                    "example": "Thomas"
                  },
                  "last_name": {
                    "type": "string",
                    "nullable": true,
                    "example": "Bonfils"
                  },
                  "primary_email": {
                    "type": "string",
                    "nullable": true,
                    "example": "thomas@useconquest.com"
                  },
                  "secondary_emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "support@useconquest.com"
                    }
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "+33 6 12 34 56 78"
                    }
                  },
                  "job_title": {
                    "type": "string",
                    "nullable": true,
                    "example": "Software Engineer"
                  },
                  "avatar_url": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://example.com/avatar.jpg"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true,
                    "example": "FR"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "cm5fkwwup0006dntb34yzw7dd"
                    }
                  },
                  "level": { "type": "number", "example": 6 },
                  "pulse": { "type": "number", "example": 203 },
                  "presence": { "type": "number", "example": 6 },
                  "source": { "type": "string", "example": "Slack" },
                  "logs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "example": "2025-01-01T00:00:00Z"
                        },
                        "pulse": { "type": "number", "example": 203 },
                        "presence": { "type": "number", "example": 6 },
                        "level": { "type": "number", "example": 6 },
                        "max_weight": { "type": "number", "example": 4 },
                        "max_weight_activity": {
                          "type": "string",
                          "example": "Slack - Write a post"
                        }
                      }
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CustomField"
                    }
                  },
                  "company_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "example": "cm5fkwwup0006dntb34yzw7dd"
                  },
                  "workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "cm5fkwwup0006dntb34yzw7dd"
                  },
                  "first_activity": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "example": "2025-01-01T00:00:00Z"
                  },
                  "last_activity": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "example": "2025-01-01T00:00:00Z"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2025-01-01T00:00:00Z"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2025-01-01T00:00:00Z"
                  }
                }
              }
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "member": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "discord_id": {
                "type": "string",
                "nullable": true,
                "example": "123456789"
              },
              "discord_username": {
                "type": "string",
                "nullable": true,
                "example": "user#1234"
              },
              "discourse_id": {
                "type": "string",
                "nullable": true,
                "example": "123"
              },
              "discourse_username": {
                "type": "string",
                "nullable": true,
                "example": "thomas-bonfils"
              },
              "linkedin_id": {
                "type": "string",
                "nullable": true,
                "example": "iuHQSczlaW"
              },
              "linkedin_url": {
                "type": "string",
                "nullable": true,
                "example": "https://linkedin.com/in/username"
              },
              "livestorm_id": {
                "type": "string",
                "nullable": true,
                "example": "02a51b3b-3d6b-448c-91bb-48f0d12702c1"
              },
              "slack_id": {
                "type": "string",
                "nullable": true,
                "example": "U0512345678"
              },
              "first_name": {
                "type": "string",
                "nullable": true,
                "example": "Thomas"
              },
              "last_name": {
                "type": "string",
                "nullable": true,
                "example": "Bonfils"
              },
              "primary_email": {
                "type": "string",
                "nullable": true,
                "example": "thomas@useconquest.com"
              },
              "secondary_emails": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "support@useconquest.com"
                }
              },
              "phones": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "+33 6 12 34 56 78"
                }
              },
              "job_title": {
                "type": "string",
                "nullable": true,
                "example": "Software Engineer"
              },
              "avatar_url": {
                "type": "string",
                "nullable": true,
                "example": "https://example.com/avatar.jpg"
              },
              "locale": {
                "type": "string",
                "nullable": true,
                "example": "FR"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                }
              },
              "level": { "type": "number", "example": 6 },
              "pulse": { "type": "number", "example": 203 },
              "presence": { "type": "number", "example": 6 },
              "source": { "type": "string", "example": "Slack" },
              "logs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "example": "2025-01-01T00:00:00Z"
                    },
                    "pulse": { "type": "number", "example": 203 },
                    "presence": { "type": "number", "example": 6 },
                    "level": { "type": "number", "example": 6 },
                    "max_weight": { "type": "number", "example": 4 },
                    "max_weight_activity": {
                      "type": "string",
                      "example": "Slack - Write a post"
                    }
                  }
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomField"
                }
              },
              "company_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true,
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "workspace_id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "first_activity": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "last_activity": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2025-01-01T00:00:00Z"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "Channels": {
        "type": "object",
        "properties": {
          "page": { "type": "number", "example": 1 },
          "page_size": { "type": "number", "example": 10 },
          "total_channels": { "type": "number", "example": 1235 },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "external_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "C07QZEDCW7P"
                },
                "name": {
                  "type": "string",
                  "example": "General Chat"
                },
                "slug": {
                  "type": "string",
                  "nullable": true,
                  "example": "general-chat"
                },
                "source": {
                  "type": "string",
                  "example": "Slack"
                },
                "workspace_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "external_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "C07QZEDCW7P"
                },
                "name": {
                  "type": "string",
                  "example": "General Chat"
                },
                "slug": {
                  "type": "string",
                  "nullable": true,
                  "example": "general-chat"
                },
                "source": {
                  "type": "string",
                  "example": "Slack"
                },
                "workspace_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Companies": {
        "type": "object",
        "properties": {
          "page": { "type": "number", "example": 1 },
          "page_size": { "type": "number", "example": 10 },
          "total_companies": { "type": "number", "example": 1235 },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "name": {
                  "type": "string",
                  "example": "Conquest"
                },
                "industry": {
                  "type": "string",
                  "nullable": true,
                  "example": "Software"
                },
                "address": {
                  "type": "string",
                  "nullable": true,
                  "example": "123 Tech Street"
                },
                "domain": {
                  "type": "string",
                  "nullable": true,
                  "example": "useconquest.com"
                },
                "employees": {
                  "type": "number",
                  "nullable": true,
                  "example": 50
                },
                "founded_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true,
                  "example": "2023-01-01T00:00:00Z"
                },
                "logo_url": {
                  "type": "string",
                  "nullable": true,
                  "example": "https://example.com/logo.png"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "cm5fkwwup0006dntb34yzw7dd"
                  }
                },
                "source": {
                  "type": "string",
                  "example": "MANUAL"
                },
                "workspace_id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-01-01T00:00:00Z"
                }
              }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "name": {
                "type": "string",
                "example": "Conquest"
              },
              "industry": {
                "type": "string",
                "nullable": true,
                "example": "Software"
              },
              "address": {
                "type": "string",
                "nullable": true,
                "example": "123 Tech Street"
              },
              "domain": {
                "type": "string",
                "nullable": true,
                "example": "useconquest.com"
              },
              "employees": {
                "type": "number",
                "nullable": true,
                "example": 50
              },
              "founded_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2023-01-01T00:00:00Z"
              },
              "logo_url": {
                "type": "string",
                "nullable": true,
                "example": "https://example.com/logo.png"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "cm5fkwwup0006dntb34yzw7dd"
                }
              },
              "source": {
                "type": "string",
                "example": "MANUAL"
              },
              "workspace_id": {
                "type": "string",
                "format": "uuid",
                "example": "cm5fkwwup0006dntb34yzw7dd"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-01T00:00:00Z"
              }
            }
          }
        }
      },
      "error.BAD_REQUEST": {
        "type": "object",
        "example": {
          "code": "BAD_REQUEST",
          "error": "Invalid request"
        }
      },
      "error.UNAUTHORIZED": {
        "type": "object",
        "example": {
          "code": "UNAUTHORIZED",
          "error": "Authentication failed"
        }
      },
      "error.NOT_FOUND": {
        "type": "object",
        "example": {
          "code": "NOT_FOUND",
          "error": "Resource not found"
        }
      }
    }
  }
}
