{
  "openapi": "3.0.1",
  "info": {
    "title": "Conquest API",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.useconquest.com"
    }
  ],
  "paths": {
    "/v1/members": {
      "get": {
        "description": "Returns all members from the workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results to return per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Failed to fetch members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Member": {
        "type": "object",
        "properties": {
          "page": { "type": "number" },
          "page_size": { "type": "number" },
          "total_members": { "type": "number" },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "cuid" },
                "discourse_id": {
                  "type": "string",
                  "nullable": true
                },
                "livestorm_id": {
                  "type": "string",
                  "nullable": true
                },
                "linkedin_id": { "type": "string", "nullable": true },
                "slack_id": { "type": "string", "nullable": true },
                "first_name": { "type": "string", "nullable": true },
                "last_name": { "type": "string", "nullable": true },
                "username": { "type": "string", "nullable": true },
                "location": { "type": "string", "nullable": true },
                "avatar_url": { "type": "string", "nullable": true },
                "job_title": { "type": "string", "nullable": true },
                "primary_email": {
                  "type": "string",
                  "nullable": true
                },
                "secondary_emails": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "phones": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "tags": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "level": { "type": "number" },
                "pulse": { "type": "number" },
                "presence": { "type": "number" },
                "gender": { "type": "string", "nullable": true },
                "source": { "type": "string" },
                "logs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": { "type": "string" },
                      "pulse": { "type": "number" },
                      "presence": { "type": "number" },
                      "level": { "type": "number" },
                      "max_weight": { "type": "number" },
                      "max_weight_activity": { "type": "string" }
                    }
                  }
                },
                "company_id": {
                  "type": "string",
                  "format": "cuid",
                  "nullable": true
                },
                "workspace_id": {
                  "type": "string",
                  "format": "cuid"
                },
                "first_activity": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "last_activity": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "joined_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
